body {
  background: url(assets/runner.jpg) no-repeat center center fixed;
  background-size: cover;
}

.quote, .languages {
  color: rgb(255, 250, 205);
  text-align: center;
  text-shadow: 5px 5px 5px black;
  letter-spacing: 0.3em;
}
  
.quote {
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%;
  
}

blockquote {
  font-size: 5vw;
  font-family: "Brush Script MT";
}

.author {
  font-size: 2vw;
  font-style: italic;
  margin-top: -3%;
}


.languages {
  font-size: 1.5vw;
  margin-top: 5%;
  letter-spacing: 0.1em;
}

 .nation-pictures {
  height: 3%;
  width: 3%;
}

.nation-pictures:hover {
  transform: rotateY(360deg);
  transition: rotateY, 0.5s;
}

.flag {
  letter-spacing: 1em;
}